## SQL Join's command

This notebook will describe the action of SQL, as well as its basic JOIN connection tools.

The notebook is made with the help of deepnote.com

The guys provide a powerful computing platform for notebooks with the ability to connect various databases. Now they are able to connect a large number of enterprise solutions such as PostgreSQL, BigQuery, Snowflake. Working with databases in the SQL language is built into the computing capabilities of the resource, so you only need to use the appropriate block in the notebook.

The first action is to create tables to give examples of JOIN commands. The department and employee tables are perhaps the classic data example.

In [1]:
import pandas as pd

In [12]:
department = pd.DataFrame(
    {
        'dep_id':[1, 2, 3, 4],
        'dep_name':['IT', 'Sales', 'Dev', 'Help']
    }
)

employee = pd.DataFrame(
    {
        'dep_id':[1, 3, 2],
        'emp_name':['Jojo Rabbit', 'Han Solo', 'Aragorn']
    }
)

In [13]:
df_1 = _deepnote_execute_sql('select * \nfrom department', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_1

   dep_id dep_name
0       1       IT
1       2    Sales
2       3      Dev
3       4     Help

In [14]:
df_2 = _deepnote_execute_sql('select * \nfrom employee', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_2

   dep_id     emp_name
0       1  Jojo Rabbit
1       3     Han Solo
2       2      Aragorn

### INNER JOIN

returns the records that exist in both tables

In [15]:
df_3 = _deepnote_execute_sql('select * \nfrom employee as e\ninner join department as d on e.dep_id=d.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_3

   dep_id     emp_name  dep_id dep_name
0       1  Jojo Rabbit       1       IT
1       2      Aragorn       2    Sales
2       3     Han Solo       3      Dev

In [16]:
df_4 = _deepnote_execute_sql('select * \nfrom department as d\ninner join employee as e on d.dep_id=e.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_4

   dep_id dep_name  dep_id     emp_name
0       1       IT       1  Jojo Rabbit
1       2    Sales       2      Aragorn
2       3      Dev       3     Han Solo

### LEFT JOIN

returns records from the left table, even if there are no such records in the right table

In [17]:
df_5 = _deepnote_execute_sql('select * \nfrom employee as e\nleft join department as d on e.dep_id=d.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_5

   dep_id     emp_name  dep_id dep_name
0       1  Jojo Rabbit       1       IT
1       3     Han Solo       3      Dev
2       2      Aragorn       2    Sales

In [18]:
df_6 = _deepnote_execute_sql('select * \nfrom department as d\nleft join employee as e on d.dep_id=e.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_6

   dep_id dep_name  dep_id     emp_name
0       1       IT     1.0  Jojo Rabbit
1       2    Sales     2.0      Aragorn
2       3      Dev     3.0     Han Solo
3       4     Help     NaN         None

### RIGHT JOIN

returns records from the right table, even if there are no such records in the left table

In [19]:
df_7 = _deepnote_execute_sql('select * \nfrom employee as e\nright join department as d on e.dep_id=d.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_7

   dep_id     emp_name  dep_id dep_name
0     1.0  Jojo Rabbit       1       IT
1     2.0      Aragorn       2    Sales
2     3.0     Han Solo       3      Dev
3     NaN         None       4     Help

In [20]:
df_8 = _deepnote_execute_sql('select * \nfrom department as d\nright join employee as e on d.dep_id=e.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_8

   dep_id dep_name  dep_id     emp_name
0       1       IT       1  Jojo Rabbit
1       3      Dev       3     Han Solo
2       2    Sales       2      Aragorn

### FULL JOIN

Returns all records of the tables to be merged

In [21]:
df_9 = _deepnote_execute_sql('select * \nfrom department as d\nfull join employee as e on d.dep_id=e.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_9

   dep_id dep_name  dep_id     emp_name
0       1       IT     1.0  Jojo Rabbit
1       2    Sales     2.0      Aragorn
2       3      Dev     3.0     Han Solo
3       4     Help     NaN         None

### CROSS JOIN

returns all possible combinations of the rows of both tables

In [23]:
df_11 = _deepnote_execute_sql('select * \nfrom department as d\ncross join employee as e ', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_11

    dep_id dep_name  dep_id     emp_name
0        1       IT       1  Jojo Rabbit
1        2    Sales       1  Jojo Rabbit
2        3      Dev       1  Jojo Rabbit
3        4     Help       1  Jojo Rabbit
4        1       IT       3     Han Solo
5        2    Sales       3     Han Solo
6        3      Dev       3     Han Solo
7        4     Help       3     Han Solo
8        1       IT       2      Aragorn
9        2    Sales       2      Aragorn
10       3      Dev       2      Aragorn
11       4     Help       2      Aragorn

### SELF JOIN

combines tables with itself

In [29]:
df_11 = _deepnote_execute_sql('select d1.* \nfrom department as d1 \ninner join department as d2 ON d1.dep_id=d2.dep_id', 'SQL_DEEPNOTE_DATAFRAME_SQL')
df_11

   dep_id dep_name
0       1       IT
1       2    Sales
2       3      Dev
3       4     Help

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=aff705cf-04b9-4987-bdba-dd9571a2717c' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>